span {
    color: white;
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
    display: flex;
    align-items: center;
}

.prime-custom {
    background-color: #ffffff !important;
    color: #292735 !important;
    border: 0 !important;
}

.prime-custom:hover {
    transform: scale(1.1);
}

.logo:hover {
    transform: scale(1.05);
}

.nav-links:hover {
    transform: scale(1.05);
}