.left {
    background-color: #fe8f73;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.right {
    background-color: #ff734f;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero {
    margin-top: -200px;
}

.headshot {
    display: flex;
    margin-top: 32%;
    justify-content: center !important;
    text-align: center !important;
}

.headshot-small {
    border-radius: 50%;
    background-color: #ff734f;
}

.small-screen {
    display: none;
}

.text {
    margin-top: 200px;
}

h1 {
    font-size: 300% !important;
}

.row {
    --bs-gutter-x: 0 !important;
}

@media (max-width: 650px) {
    .right {
      display: none;
    }
  
    .small-screen {
      display: flex;
      position: absolute;
      left: 64%;
      top: 68px;
    }
  
    .left {
      justify-content: flex-start;
    }
  }


  @media (max-width: 360px) {
  
    .small-screen {
      display: none
    }
  }