.left {
    background-color: #fe8f73;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}


.right {
    background-color: #ff734f;
}

.hero {
    margin-top: -150px;
}

.headshot {
    display: flex;
    margin-top: 25%;
    justify-content: center !important;
    text-align: center !important;
}

.text {
    margin-top: 150px;
}

h1 {
    font-size: 300% !important;
}

.row {
    --bs-gutter-x: 0 !important;
}