.text-left {
    display: flex;
    justify-content: left;
    text-align: left;
    text-decoration: underline;
}

.about-section {
    background-color: #f6f7f9;
}

.title {
    text-decoration: underline;
}