.awards {
    background-color: #292735;
    margin: 0 !important;
    width: 100%;
    max-width: 100% !important;
}

.award-img-left {
    margin-left: 20%;
}

.award-img-right {
    margin-right: 20%;
}